*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

a{
    text-decoration: none;
    color: black;
}

img{
    object-fit: cover;
}

body{
    /*background-color: #f1f1f1;*/
    background: url(Assets/download.jpg);
    background-size: cover;

}

.nav{
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav .barre{
    font-size: 25px;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    background-color: #fff;
    align-items: center;
    height: 80px;
}
nav .menu{
    display: none;
    margin-left: 50px;
    height: 80px;
}

header{
    padding: 0 80px;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

header .left{
    width: 500px;
}

header .left h1{
    font-size: 70px;
    margin-top: 0px;
    text-align: left;
    color: #fff;
    max-width: 400px;
}

header img{
    width: 300px;
    padding-top: -100px;
}

h2.separator{
    padding: 0 80px;
    font-size: 50px;
    margin-top: 40px;
    color: #fff;
}

.support-cours{
    padding: 0 80px;
    margin: 50px 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 30px;

}

.support-cours .item,
.act-list .item{
    padding: 20px;
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    width: 350px;
    
}

.support-cours .item:hover,
.act-list .item:hover{
    box-shadow: none;
    background: none;
    color: #fff;
}

.support-cours .item .header{
    display: flex;
    align-items: center;
    gap: 10px;
}

.support-cours .item .header i{
    font-size: 60px;
}

.support-cours .item .header h5{
    font-size: 30px;
    text-align: center;
}

.support-cours .item p{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    padding: 0 4px;
}

.act-list{
    padding: 0 80px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px
}

.act-list .item{
    width: auto;
}

.act-list .item img{
    width: 280px;
    height: 280px;
    border-radius: 18px;
}

.act-list .item .info{
    margin-top: 10px;

}

.act-list .item .info h5{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.act-list .item .info p{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 280px;

}


.act-list .item .info .correction,
.act-list .item .info .act,
.act-list .item .info .video{
    margin-top: 15px;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 10px 100px;
    background-color: #f1f1f1;
    border-radius: 18px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.act-list .item .info .correction:hover,
.act-list .item .info .act:hover,
.act-list .item .info .video:hover{
    box-shadow: none;
}
.act-list .item .info i{
    margin-right: 5px;
    color: black;
}

footer{
    margin-top: 80px;
    background-color: black;
    color: #fff;
    padding: 80px 80px;
}
footer a{
    color: #fff;
}
footer a:hover{
    color: rgb(22, 115, 202);
}

footer h3{
   font-size: 45px;
}

footer .source{
    padding: 20px 0px;
    font-size: 25px;
}



@media  screen and (max-width: 900px) {
    header .left h1{
        font-size: 60px;
    }

    header{
        justify-content: center;
    }
    .support-cours .item{
        width: 300px;
    }

    .support-cours .item .header i{
        font-size: 50px;
    }  

    .support-cours .item .header h5{
        font-size: 25px;
        text-align: center;
    }

    h2.separator{
        font-size: 45px;
    } 
}

@media  screen and (max-width: 834px) {
    .support-cours,
    .act-list{
        justify-content: center;
    }

    nav .barre{
        font-size: 20px;
    }
    
    .support-cours .item{
        width: 250px;
    }

    .support-cours .item .header i{
        font-size: 40px;
    }

    .support-cours .item .header h5{
        font-size: 20px;
    }

    h2.separator{
        font-size: 40px;
    } 
}

@media  screen and (max-width: 750px) {
    header .left h1,
    h2.separator{
        padding: 0 40px;
        font-size: 30px;
        
    }
    header .left h1{
        text-align: center;
    }   

    header{
        flex-wrap: wrap;
        margin-top: 50px;
    }

    .support-cours .item{
        width: 200px;
    }

}
@media  screen and (max-width: 680px) {
   header{
    flex-wrap: wrap;
    margin-top: 50px;
   }

   .support-cours .item{
    width: 179px;
   }

   .support-cours{
    padding: 0 40px;
   }
}
